@import "tailwindcss";
:root {
    --color-primary-teal: 45, 122, 120; /* Use RGB numbers for better opacity support */
}

/* If you need custom breakpoints like 720px, you do it here now: */
@theme {
    --breakpoint-tablet: 720px;
}
body {
    margin: 0;
    padding: 0;
}
